$backgroundcolor:white;
$buttoncolor:#03346b;
$textcolor:#1a5e5f;
$navfooter:white;
$textFont:13px;
$font-family:Arial;
$font-family:Arial;
.NavSidebar {
    height: 100px;
    width: 100%;
    background-color: $buttoncolor;
    margin: 0;
    padding: 0;
    color: white;
}