$backgroundcolor:white;
$buttoncolor:#03346b;
$textcolor:#1a5e5f;
$navfooter:white;
$textFont:13px;
$font-family:Arial;
$font-family:Arial;
.ContactUsContainer {
    width: 100%;
    height: 100vh;
    background-color: $textcolor;
    margin-top: 5px;
}