$backgroundcolor:white;
$buttoncolor:#03346b;
$textcolor:#1a5e5f;
$navfooter:white;
$textFont:13px;
$font-family:Arial,
sans-serif;
.FormContainer {
    width: 80%;
    height: 100vh;
    background-color: $textcolor;
}