$backgroundcolor:white;
$buttoncolor:#03346b;
$textcolor:#79a4a5;
$navfooter:white;
$textFont:13px;
$font-family:Arial;
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// * {
//     overflow-x: hidden;
// }
.dashboardContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.LogoContainer {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: red;
    .LogoEmps {
        color: white;
        font-weight: 900;
        font-size: 30px;
        // background-color: rebeccapurple;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
    .searchcontainer {
        display: flex;
        flex-direction: row;
        .inputSearch {
            outline: none;
            border-radius: 5px;
            border: none;
            color: black;
            font-weight: 800;
            width: 80px;
            height: 10px;
            padding: 10px;
            margin-top: 13px;
            margin-left: 10px;
        }
        button {
            background-color: white;
            border: none;
            color: grey;
            border-radius: 10px;
            font-weight: 900;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .sectionContainer {
        display: flex;
        flex-direction: row;
        gap: 0px;
        // background-color: blue;
        padding-right: 10px;
    }
}

.navigationContainer {
    background-color: #031427;
    width: auto;
    color: white;
    height: 100px;
    border-bottom: 2px solid gray;
    padding: 20px;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

main {
    overflow-x: hidden;
    width: 100%;
    padding: 20px;
}

.top_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 20px 15px; */
}

.link {
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.icon,
.link_text {
    font-size: 20px;
    color: white;
    &:hover {
        color: white;
    }
}

.sidebarContainer {
    width: 200px;
    background-color: #031427;
    color: white;
    height: 100vh;
    padding-top: 50px;
}

.bars {
    .bar {
        display: block;
    }
}

.hideIcons .icon {
    display: none;
}

@media (max-width: 448px) {
    .searchcontainer {
        .inputSearch {
            padding: 5px;
            outline: none;
            border-radius: 5px;
            border: none;
            color: black;
            font-weight: 800;
            width: 100px;
            height: 0px;
            // margin-top: -10px;
            // margin-left: 20px;
        }
    }
    .sidebarContainer {
        width: 60px;
        .link_text {
            display: none;
        }
    }
    .LogoContainer {
        justify-content: center;
        .LogoEmps {
            font-size: 20px;
        }
    }
    .navigationContainer {
        .top_section {
            .bars {
                .bar {
                    display: block;
                    // font-size: 50px;
                    font-weight: 900;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .searchcontainer {
        .inputSearch {
            padding: 5px;
            outline: none;
            border-radius: 10px;
            border: none;
            color: black;
            font-weight: 800;
            // width: 100px;
            height: 0px;
        }
    }
    .navigationContainer {
        .top_section {
            .bars {
                .bar {
                    display: block;
                    // font-size: 50px;
                }
            }
        }
        .NotificationProfile {
            padding-left: 10px;
        }
        .LogoContainer {
            justify-content: center;
        }
    }
    .sidebarOpen {
        .sidebarContainer {
            width: 0;
            .link_text {
                display: none;
            }
        }
        main {
            width: 100%;
        }
    }
    .sidebarContainer {
        width: 60px;
        .link_text {
            display: none;
        }
    }
}