    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    body {
        margin: 0;
        padding: 0;
    }
    
    .dashboardContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .navigationContainer {
        background-color: indigo;
        width: 100%;
        color: white;
        height: 100px;
    }
    
    .container {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    
    main {
        width: 100%;
        padding: 20px;
    }
    
    .top_section {
        display: flex;
        align-items: center;
        padding: 20px 15px;
    }
    
    .link {
        display: flex;
        padding: 10px 15px;
        gap: 15px;
        transition: all 0.5s;
    }
    /* .link:hover {
    background: lightskyblue;
}

.active {
    background: lightskyblue;
} */
    
    .icon,
    .link_text {
        font-size: 20px;
    }
    
    .sidebarContainer {
        width: 200px;
        background-color: black;
        color: white;
        height: 100vh;
    }
    
    .bars {
        .bar {
            display: none;
        }
    }
    
    .hideIcons .icon {
        display: none;
    }
    
    @media (max-width: 448px) {
        .sidebarContainer {
            width: 50px;
            .link_text {
                display: none;
            }
        }
        .navigationContainer {
            .top_section {
                .bars {
                    .bar {
                        display: block;
                    }
                }
            }
        }
    }
    
    @media (max-width: 768px) {
        .navigationContainer {
            .top_section {
                .bars {
                    .bar {
                        display: block;
                    }
                }
            }
        }
        .sidebarOpen {
            .sidebarContainer {
                width: 0;
                .link_text {
                    display: none;
                }
            }
            main {
                width: 100%;
            }
        }
        .sidebarContainer {
            width: 50px;
            .link_text {
                display: none;
            }
        }
    }